@media (max-width: 576px) {
    h3 {
        font-size: 15px;
    }

    h2 {
        font-size: 15px;
    }

    #image {
        transform: rotate(90deg);
    }

}

.menu_vertical {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu_item {
    width: calc(25% - 10px);
    /* Répartit les éléments sur 4 colonnes avec un espace entre */
    transition: transform 0.2s;
    opacity: 0.8;
}

.menu_item:hover {
    opacity: 1;
    transform: rotate(5deg);
}
